@charset "UTF-8";
html {
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
html {
  display: flex;
  flex-direction: column;
  color: white; }

.homeBody,
.loginBody {
  background-color: #18A080; }

a,
body,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
html,
iframe,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul {
  border: 0;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serifs;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 10px;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
button,
input,
select,
textarea {
  color: #3a3a3a;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: bold; }

p {
  margin: 1em 0;
  line-height: 1.5; }

address {
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
 Elements
--------------------------------------------------------------*/
a#more,
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: #d3d3d3 1px solid;
  margin: 40px 0;
  padding: 0; }

ol,
ul {
  margin: 0; }

ul {
  list-style: none; }

ol {
  list-style: decimal; }

li > ol,
li > ul {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

th {
  font-weight: bold; }

h1, h2, h3, h4 {
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif; }

h1 {
  font-size: 1.250em; }

h1:hover {
  opacity: 0.7; }

h2 {
  font-size: 1.2em; }

h3 {
  font-weight: bold;
  font-size: 18px; }

h4 {
  font-size: 0.875em; }

blockquote p {
  margin: 0; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

/*--------------------------------------------------------------
login.ejs
--------------------------------------------------------------*/
.content-area-login {
  text-align: center;
  margin: auto;
  width: 800px;
  height: 500px; }
  .content-area-login .subTitle {
    margin-top: 50px; }

.GoogleProfile {
  display: flex; }

.loginTitle {
  font-size: 84px;
  color: white;
  font-family: 'Gotham SSm A', 'Gotham SSm B', '小塚ゴシック Pr6N', 'Kozuka Gothic Pr6N', sans-serif; }

/*--------------------------------------------------------------
home.ejs
--------------------------------------------------------------*/
.content-area {
  padding-top: 20px;
  position: relative;
  top: 70px;
  max-width: 500px;
  height: 100%;
  margin: 0 auto; }

.content-area-home {
  text-align: center; }

#feature {
  padding: 40px;
  top: 70%;
  right: 0;
  left: 0;
  margin: auto;
  font-size: 120%;
  color: white; }

.measureTime {
  top: 50.5%;
  right: 51%; }

/*--------------------------------------------------------------
button
--------------------------------------------------------------*/
.measureButton {
  width: 200px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  display: flex;
  justify-content: center; }
  .measureButton input {
    color: #18A080;
    font-size: 20px; }

.logoutButton-loginPage-inside,
.logoutButton,
.measureButton-inside {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  appearance: none; }

/*--------------------------------------------------------------
@Home-swiper
--------------------------------------------------------------*/
.swiper-container {
  position: relative;
  bottom: 0p;
  width: 100%; }

.swiper-slide + .swiper-slide {
  margin-top: 20px; }

.grad-trigger {
  font-size: 0.8rem;
  /*ボタンのスタイルはご自由にどうぞ*/ }

.grad-item {
  overflow: hidden;
  padding: 10px 10px 10px 10px;
  height: 100%; }

.grad-item.is-hide {
  height: 50px;
  /*隠した後の高さ*/ }

.grad-item p + p {
  margin-top: 1em; }

.grad-item::before {
  display: block;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 20px;
  /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #fff 100%); }

.grad-trigger.is-show + .grad-item::before {
  display: none; }

.swiper-slide {
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #D25621;
  margin: 0 auto;
  border-radius: 4px 4px 4px 4px;
  text-align: center; }

/*--------------------------------------------------------------
measure.ejs
--------------------------------------------------------------*/
.measureBody {
  background-color: #222222; }
  .measureBody .content-area-measure {
    height: 100%;
    top: 50%;
    text-align: middle;
    margin: 0 auto;
    font-size: 2.5rem; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  display: flex; }

#userInfo {
  position: relative; }
  #userInfo img {
    vertical-align: middle;
    border-radius: 50%;
    height: 50px; }
  #userInfo p {
    margin: 0.5rem; }

#logoutButton {
  position: absolute;
  top: 40px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.8); }

.logoutButton {
  width: 120px;
  height: 50px; }

@media screen and (max-width: 767px) {
  .logo a img {
    height: 36px; }
  .site-content {
    min-height: auto; }
    .site-content .content-area {
      padding-top: 0; }
  .site-header {
    width: 100%;
    float: left; }
    .site-header .navbar {
      left: 0;
      width: 100%;
      z-index: 9999; }
      .site-header .navbar ul li {
        padding: 10px 0; }
        .site-header .navbar ul li::before {
          display: none; }
    .site-header .button-wrap {
      display: block; }
  .post .nav-links {
    display: none; }
  .archive ul.list {
    padding-left: 20px; } }

@media screen and (max-width: 414px) {
  .container {
    padding-left: 20px;
    padding-right: 20px; }
  .site-header,
  .page .site-header,
  .home.paged .site-header {
    padding-left: 20px;
    padding-right: 20px; }
  .footer-widgets .inside-wrapper {
    padding-left: 5px;
    padding-right: 5px; } }
