<!-- Footer -->
<footer class="site-info">
  <p>
    <span>
      <%- config.title %> &copy;
      <%= (new Date()).getFullYear() %></span>
    <% if(config.footer !== null) { %>
    <!-- <span class="split">|</span> -->
    <span>
      <%- config.footer || theme.footer %></span>
    <% } %>
  </p>
</footer>
<script src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script src="/js/app.js"></script>