<header class="site-header">
  <div class="header-inside">

    <!-- Navigation -->
    <nav class="navbar">
      <ul>
        <li>
          <a href=<%= page.link %>><img src=<%= page.image %>></a>
        </li>
        <li class="navbar_title">
          <h1><%= page.title %></h1>
        </li>
        <li class="navbar_title_2">
          <h1 id="state"></h1>
        </li>
      </ul>
    </nav>

  </div>
</header>