<header class="site-header">

  <nav class="navbar">

    <div id="userInfo">
      <p><img id="img" src="" alt=""><span id="googleDisplayName"></span></p>
    </div>

    <div id="logoutButton" style="display:none">
      <a href="/login/"><input type="button" class="logoutButton" value="ログアウト" onclick="signOut()" /></a>
    </div>

  </nav>

</header>