<header class="site-header">
  <div class="header-inside">

    <!-- Navigation -->
    <nav class="navbar">
      <ul>
        <li>
          <a href="/setting/"><img src="https://img.icons8.com/ios/30/000000/menu-filled.png"></a>
        </li>
        <li>
          <h1><%= page.title %></h1>
        </li>
      </ul>
    </nav>


  </div>
</header>