<header class="site-header">
  <nav class="navbar">
    <div id="userInfo">
      <div>
        <img id="img" src="" alt="" /><span id="googleDisplayName"></span>
      </div>
    </div>

    <div id="logoutButton" class="isHide">
      <a href="/login/"
        ><input
          type="button"
          class="logoutButton"
          value="ログアウト"
          onclick="signOut()"
      /></a>
    </div>
  </nav>
</header>
