<!-- <header class="site-header">

  <nav class="navbar">

    googleName,Img,タップしたらlog-out Buttonがでてくる
    <div id="userInfo">
      <img id="img" src="" alt="">
      <p id="googleDisplayName"></p>
    </div>

    <div>
      <a href="/login/"></a><input id="logoutButton" class="logoutButton" type="button" style="display:none"
        onclick="signOut()" /></a>
    </div>

  </nav>

</header> -->