<div class="content-area">
    <h1>advice だよ</h1>
    <div class="adviceImg">
        <img src="../source/images/weibo.svg" alt="">
    </div>
    <div class="measureTime">
        測定時間の表記
    </div>
    <div class="adviceComent">
        アドバイスコメント
    </div>
</div>