<!-- change/firebase -->
<% var adviceImage = '/images/diet.png'; %>
<% var measureTime = '測定時間'; %>
<% var adviceComment = 'アドバイスコメント'; %>


<!-- HTML -->
<div class="content-area">
    <div class="adviceImg">
        <img src=<%= adviceImage %> alt="" height="100px">
    </div>
    <p> <%= measureTime %> </p>
    <p> <%= adviceComment %> </p> <a href="/goal">ああ</a>
</div>