<!-- change/firebase -->
<% var adviceImage = '/images/diet.png'; %>
<% var adviceComment = 'アドバイスコメント'; %>


<!-- HTML -->
<div class="content-area">
  <div class="advice">
    <h1><%= page.title %></h1>
    <img src=<%= adviceImage %> alt="">

    <p> <%= page.measureTime %> </p>
    <p> <%= adviceComment %> </p>
  </div>
</div>