<div class="content-area">
  <div class="advice">
    <h1><%= page.title %></h1>
    <img id="adviceImage" class="adviceImage" src="" alt="">

    <p> <%= page.measureTime %> </p>

    <div class="condition">
      <h1>現在のコンディション</h1>
      <p id="condition0"></p>
      <p id="condition1"></p>
      <p id="condition2"></p>

    </div>

    <div id="advice">
      <h1 id="mealAdviceTitle"></h1>
      <h1 id="workAdviceTitle"></h1>
      <h1 id="dietAdviceTitle"></h1>
      <p id="adviceResult0"></p>
      <p id="adviceResult1"></p>
      <p id="adviceResult2"></p>
    </div>

  </div>
</div>