<div class="content-area">
    goal だよ
    <div>
        <h1>目標を１つ選んでください</h1>
    </div>
    <tr>
        <td>
            <img src="" alt="">
            <p>やせたい</p>
        </td>
        <td>
            <img src="" alt="">
            <p>仕事に専念したい</p>
        </td>
    </tr>
    <tr>
        <td>
            <img src="" alt="">
            <p>睡眠を改善したい</p>
        </td>
        <td>
            <img src="" alt="">
            <p>食事に気をつけたい</p>
        </td>
    </tr>
    <tr>
        <td>
            <img src="" alt="">
            <p>不調を改善したい</p>
        </td>
        <td>
            <img src="" alt="">
            <p>●●を改善したい</p>
        </td>
    </tr>
    </table>



    <!-- <%_ const array = ['痩せたい', '仕事に集中したい', '睡眠を改善したい','食事に気をつけたい','不調を改善したい'] _%>

    <ul>
        <% array.forEach(function(value) { %>
        <li><%= value %></li>
        <% }); %>
    </ul> -->
</div>