<!-- change/firebase -->
<% var subTitle = 'Goal”で選択された項目をFirabaseでひっぱってくる'; %>

<!-- HTML -->
<div class="content-area">
  <h2><%= subTitle %></h2>
  <p>
    <div id="age"></div>
  </p>
  <p>
    <div id="job"></div>
  </p>
  <p>
    <div id="name"></div>
  </p>
  <div class="goalButton">
    <a href="/goal/"><input class="goalButton-inside" type="button" value="goalを変更する"></a>
  </div>
</div>