<!-- change/firebase -->
<% var subTitle = 'Goal' %>

<!-- HTML -->
<div class="content-area">
  <h2><%= subTitle %></h2>

  <div class="goalResult">
    <div id="goalResultText"></div>
    <img id="goalimage" src="" alt="" height="300px">
  </div>

  <!-- 内容を変更・削除 -->
  <div class="goalButton">
    <input id="goalButton-delete" class="goalButton-inside" type="button" value="内容を変更・削除">
  </div>
  <!-- HOMEに戻る -->
  <div class="goalButton">
    <a href="/">
      <input class="goalButton-inside" type="button" value="HOME">
    </a>
  </div>
</div>