<div class="content-area">
    <h1>goal だよ</h1>
    <div>
        <h1>目標を１つ選んでください</h1>
    </div>
    <div id="text">comment</div>

    <div id="goal">
        <div id="goal_1">
            <img src="../source/images/github.svg" alt="">
            <p>やせたい</p>
        </div>
        <div id="goal_2">
            <img src=" ../source/images/github.svg" alt="">
            <p>仕事に専念したい</p>
        </div>
        <div id="goal_3">
            <img src="../source/images/github.svg" alt="">
            <p>睡眠を改善したい</p>
        </div>
        <div id="goal_4">
            <img src="../source/images/github.svg" alt="">
            <p>食事に気をつけたい</p>
        </div>
        <div id="goal_5">
            <img src="../source/images/github.svg" alt="">
            <p>不調を改善したい</p>
        </div>
        <div id="goal_6">
            <img src="../source/images/github.svg" alt="">
            <p>●●を改善したい</p>
        </div>

    </div>

</div>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyCBJVggpI5YAKFnZNDfDhivNg5-DMUb3Uw",
        authDomain: "myakushin.firebaseapp.com",
        databaseURL: "https://myakushin.firebaseio.com",
        projectId: "myakushin",
        storageBucket: "myakushin.appspot.com",
        messagingSenderId: "537042555866"
    };
    firebase.initializeApp(config);
</script> -->
<!-- <script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous">

        $(function () {
            $("#goal_1").on("click", function () {
                $('#text').val("代謝を上げるような生活アドバイスをします。がんばりましょう！");
                $("#goal").val("");
            });
            $("#goal_2").on("click", function () {
                $('#text').val("疲れを溜めずに、集中力が続く生活アドバイスをします。がんばりましょう！");
                $("#goal").val("");
            });
            $("#goal_3").on("click", function () {
                $('#text').val("夜ぐっすり眠れるような生活アドバイスをします。がんばりましょう！");
                $("#goal").val("");
            });
            $("#goal_4").on("click", function () {
                $('#text').val("体調に合わせた食事のアドバイスをします。がんばりましょう！");
                $("#goal").val("");
            });
            $("#goal_5").on("click", function () {
                $('#text').val("疲れを溜めずに、集中力が続く生活アドバイスをします。がんばりましょう！");
                $("#goal").val("");
            });
        });
    </script> -->
<script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script src="/js/app.js"></script>