<div class="content-area">
    homeだよ
    <a href="https://shirin-kou.github.io/advice/">Advice</a>
    <a href="https://shirin-kou.github.io/setting/">setting</a>
</div>

<!-- 反映されない↓
<a href="advice.ejs">advice</a> -->