<body class="homeBody">

  <div class="content-area">
    <div class="content-area-home">
      <canvas id="myChart" width="300" height="200"></canvas>
      <!-- <img id="waveImg" src="" alt="" height="200" width="200"> -->
      <p id="feature"></p>
    </div>
    <div class="measure">
      <div class="measureButton">
        <a href="/measure/" class="measureButton-inside">測定を始める</a>
      </div>
      <div class="measureTimeTotal">
        <p>前回測定：<span class="measureTime"></span></p>
      </div>
    </div>
  </div>
  <!-- Slider main container -->
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="grad-item">
          <p id="question0"></p>
          <p id="condition0"></p>
          <p id="advice0"></p>
        </div>
        <span class="grad-trigger">アドバイスを読む</span>
      </div>
      <div class="swiper-slide">
        <div class="grad-item">
          <p id="question1"></p>
          <p id="condition1"></p>
          <p id="advice1"></p>
        </div>
        <span class="grad-trigger">アドバイスを読む</span>
      </div>
      <div class="swiper-slide">
        <div class="grad-item">
          <p id="question2"></p>
          <p id="condition2"></p>
          <p id="advice2"></p>
        </div>
        <span class="grad-trigger">アドバイスを読む</span>
      </div>
      <div class="swiper-slide">
        <div class="grad-item">
          <p id="question3"></p>
          <p id="condition3"></p>
          <p id="advice3"></p>
        </div>
        <span class="grad-trigger">アドバイスを読む</span>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</body>