<div class="content-area">
    homeだよ
    <div>
        <p>今日の波形</p>
        <p>脈の拍動がいつもより大きくなっています</p>
        <img src="../source/images/wave.png" alt="">
    </div>

    <div>
        <p>このような状態ではありませんか？該当する状態にチェックを入れてください。</p>
        <%_ const array = ['早食い、食べ物をよく噛まずに飲み込んでいませんか？', '夜遅くに油っこい食事を摂っていませんか？', '休憩を取らずに、長時間仕事をしてしまいがちではありませんか？'] _%>

        <ul>
            <% array.forEach(function(value) { %>
            <li><%= value %></li>
            <% }); %>
        </ul>
    </div>

    <div>
        <a href="https://shirin-kou.github.io/advice/">Advice</a>
    </div>
</div>

<!-- 反映されない↓
<a href="advice.ejs">advice</a> -->