<div class="content-area">
    homeだよ
    <a href="advice.ejs">Advice</a>
    <a href="goal.ejs">goal</a>
    <a href="goal2.ejs">goal</a>
    <a href="question.ejs">question</a>
    <a href="setting.ejs">setting</a>
</div>