<body class="homeBody">
  <div class="content-area">
    <div class="content-area-home">
      <canvas id="myChart" width="300" height="100"></canvas>
      <!-- <img id="waveImg" src="" alt="" height="200" width="200"> -->
      <p id="feature"></p>
    </div>
    <div class="measure">
      <div class="measureButton">
        <a href="/measure/" class="measureButton-inside">測定を始める</a>
      </div>
      <div class="measureTimeTotal">
        前回測定：<span class="measureTime">まだ測定していません</span>
      </div>
    </div>
  </div>
  <!-- Slider main container -->
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide" id="slide1">
        <div class="grad-item" id="slidecontent1">
          <div class="slide-question" id="question0"></div>
          <div class="slide-condition" id="condition0"></div>
          <div class="slide-advice" id="advice0"></div>
        </div>
      </div>
      <div class="swiper-slide" id="slide2">
        <div class="grad-item" id="slidecontent2">
          <div class="slide-question" id="question1"></div>
          <div class="slide-condition" id="condition1"></div>
          <div class="slide-advice" id="advice1"></div>
        </div>
      </div>
      <div class="swiper-slide" id="slide3">
        <div class="grad-item" id="slidecontent3">
          <div class="slide-question" id="question2"></div>
          <div class="slide-condition" id="condition2"></div>
          <div class="slide-advice" id="advice2"></div>
        </div>
      </div>
      <div class="swiper-slide" id="slide3">
        <div class="grad-item" id="slidecontent4">
          <div class="slide-question" id="question3"></div>
          <div class="slide-condition" id="condition3"></div>
          <div class="slide-advice" id="advice3"></div>
        </div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</body>
