<div class="content-area-login">
    <div class="subTitle">
        <!-- The surrounding HTML is left untouched by FirebaseUI.
             Your app may use that space for branding, controls and other customizations.-->
        <div id="firebaseui-auth-container"></div>
        <div id="loader">Loading...</div>
        <p id="log"></p>

        <div id="GoogleProfile">
            <img id="img" src="" alt="" height="50px">
            <p id="state"></p>
        </div>

    </div>
</div>