<header class="site-header">

  <nav class="navbar">

    <!-- googleName,Img -->
    <img id="img" src="" alt="">
    <p id="googleDisplayName"></p>

  </nav>

</header>

<body class="measureBody">

  <div class="content-area">
    測定中
  </div>

</body>