<div class="content-area">
    <h1>嗜好について教えてください</h1>

    <div>
        <div>Q1, 普段どれくらい水分をとりますか?</div>
        <div>
            <input type="radio" name="" id="" value="">よくとる
            <input type="radio" name="" id="" value="">普通
            <input type="radio" name="" id="" value="">あまり取らない
        </div>
    </div>
</div>