<div class="content-area">
    setting だよ
    <a href="https://shirin-kou.github.io/goal/">goal</a>
    <a href="https://shirin-kou.github.io/question/">question</a>
    <a href="https://shirin-kou.github.io/login/">Log-out</a>
</div>