<% var title = 'Setting'; %>
<% var subTitle = ''; %>
<% var link = 'https://shirin-kou.github.io/goal/'; 'https://shirin-kou.github.io/question/'; %>

<div class="content-area">
    <h1><%= title %></h1>
    <h2><%= subTitle %></h2>

    <div>
        <a href=<%= link %>>goal</a>
    </div>

    <div>
        <a href=<%= link %>>question</a>
    </div>

    <div>
        <a href="https://shirin-kou.github.io/login/">Log-out</a>
    </div>

    反映させる。<br>
    ID名と写真
</div>