<div class="content-area">
    setting だよ
    <div>
        <a href="https://shirin-kou.github.io/goal/">goal</a>
    </div>

    <div>
        <a href="https://shirin-kou.github.io/question/">question</a>
    </div>

    <div>
        <a href="https://shirin-kou.github.io/login/">Log-out</a>
    </div>

    反映させる。<br>
    ID名と写真
</div>