*, *:before, *:after {
  box-sizing: border-box;
}

a,
body,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
html,
iframe,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul {
  border: 0;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serifs;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

body,
html {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0;
}

.loginHTML {
  height: 100%;
} 

.loginBody {
  background-color: $color-main;
  height: 100%;
}

.homeBody {
  background-color: $color-main;
}

#googleDisplayName {
  margin-left: 0.5rem;
  display: inline-block;
}



/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
button,
input,
select,
textarea {
  color: $color-text;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  font-size: 100%;
  line-height: 1.5;
}
h1,
h2 {
  clear: both;
  font-weight: bold;
}
p {
  margin: 1em 0;
  line-height: 1.5;
}


/*--------------------------------------------------------------
 Elements
--------------------------------------------------------------*/
a#more,
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: #d3d3d3 1px solid;
  margin: 40px 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
}
ul {
  list-style: none;
}
ol {
  list-style: decimal;
}
li > ol,
li > ul {
  margin-bottom: 0;
  margin-left: 1.5em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 1.5em 1.5em;
}
img {
  max-width: 100%;
  /* Adhere to container width. */
}
figure {
  margin: 0;
}
table {
  margin: 0 0 ;
  width: 100%;
}
th {
  font-weight: bold;
}
h1, h2, h3, h4 {
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;}
h1 {
  font-size: 1.250em; }

h1:hover {
  opacity: 0.7; }

h2 {
  font-size: 1.2em;}

h3 {
  font-weight: bold;
  font-size: 18px; }

h4 {
  font-size: 0.875em; }

blockquote p {
  margin: 0;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

/*--------------------------------------------------------------
login.ejs
--------------------------------------------------------------*/
//@login
.content-area-login{
  height: 100%;
  text-align: center;
  margin: auto;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.GoogleProfile{
  display: flex;
}

.loginTitle {
  font-size: 3rem;
  color: white;
  font-family: 'Gotham SSm A', 'Gotham SSm B', '小塚ゴシック Pr6N', 'Kozuka Gothic Pr6N', sans-serif;
}

/*--------------------------------------------------------------
home.ejs
--------------------------------------------------------------*/
//@home-->include waveImg, feature, measureTime, measureButton
.content-area {
  padding-top: 5rem;
  margin: 0 auto;
}

//@home-->include waveImg, feature, measureTime
.content-area-home {
  text-align: center;
}

// #waveImg {
//   border-radius: 50%;
// }

#feature {
  margin: 2rem auto 2rem;
  font-size: 120%;
  color: white;
}

.measureTimeTotal {
  color: $color-main4;
  text-align: center;
  margin: 0;
  margin-top: 0.5rem;
}
// #myChart {
//   background-color: white;
//   opacity: 0.5;
// }
/*--------------------------------------------------------------
button
--------------------------------------------------------------*/
.measureButton {
  width: 200px;
  height: 50px;
  line-height: 50px;
  background-color: $color-main4;
	margin: 0 auto;
  color: $color-main;
  border-radius: 3px;
  text-align: center;
  a {
    color: $color-main;
    font-size: 16px;
    font-weight: 700;
  }
}

//hide Button background
.logoutButton-loginPage-inside,
.logoutButton,
.measureButton-inside {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  appearance: none;
  text-decoration: none;
}

/*--------------------------------------------------------------
@Home-swiper
--------------------------------------------------------------*/
//include question, condition, advice
.swiper-container {
  position: relative;
  width: 100%;
  margin: 2rem 0;
  opacity: 0;
}

.grad-trigger {
  font-size: 0.8rem;
  /*ボタンのスタイルはご自由にどうぞ*/
}

.grad-item {
  position: relative;
  overflow: hidden;
  padding: 1rem;
  height: 100%;
  font-size: 0.875rem;
  text-align: left;
 }

 .swiper-slide.is-hide::before {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 1;
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.95) 80%, white 100%);
  border-radius: 3px;
}

.swiper-slide.is-hide {
  height: 100px; /*隠した後の高さ*/
  
}

.grad-item p + p {
  margin-top: 1em;
}

.slide-question {
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.slide-condition {
  color: #444;
  margin-bottom: 0.75rem;
}

.slide-advice {
  font-weight: bold;
}

.grad-trigger.is-show + .grad-item::before {
  display: none;
}

.swiper-slide {
  background-color: #fff;
  color: $color-main2;
  margin: 0 auto;
  border-radius: 4px 4px 4px 4px;
  text-align: center;
}

.swiper-wrapper {
  margin: 0;
}

.swiper-pagination.swiper-pagination-bullets {
  margin: 0;
  top: calc(100% + 0.5rem);
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: $color-main4;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E")
}

/*--------------------------------------------------------------
measure.ejs
--------------------------------------------------------------*/
.measureBody {
  background-color: $color-main3;
  .content-area-measure{
    height: 100%;
    top: 50%;
    text-align: middle;
    margin: 0 auto;
    font-size: 2.5rem;
  }
}

