body,
html {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
}

.homeBody,
.loginBody {
  background-color: $color-main;
}
/*--------------------------------------------------------------
Reset
--------------------------------------------------------------*/
a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
html,
iframe,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul {
  border: 0;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serifs;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 10px;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
button,
input,
select,
textarea {
  color: $color-text;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  font-size: 100%;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: bold;
}
p {
  margin: 1em 0;
  line-height: 1.5;
}
address {
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
 Elements
--------------------------------------------------------------*/
a#more,
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: #d3d3d3 1px solid;
  margin: 40px 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
}
ul {
  list-style: none;
}
ol {
  list-style: decimal;
}
li > ol,
li > ul {
  margin-bottom: 0;
  margin-left: 1.5em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 1.5em 1.5em;
}
img {
  max-width: 100%;
  /* Adhere to container width. */
}
figure {
  margin: 0;
}
table {
  margin: 0 0 1.5em;
  width: 100%;
}
th {
  font-weight: bold;
}
h1, h2, h3, h4 {
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;}
h1 {
  font-size: 1.250em; }

h1:hover {
  opacity: 0.7; }

h2 {
  font-size: 1.2em;}

h3 {
  font-weight: bold;
  font-size: 18px; }

h4 {
  font-size: 0.875em; }
blockquote p {
  margin: 0;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/
a {
  color: $color-text;
  text-decoration: none;
}
a:visited {
  color: $color-text;
}
a:active,
a:focus,
a:hover {
  color: $color-text;
  opacity: 0.8;
}

/*--------------------------------------------------------------
Content
--------------------------------------------------------------*/
.content-area {
  padding-top: $header-height;
  width: 100%;
  // margin: auto;
  position: relative;
  text-align: center;
  .setting-table
  {
    width: 700px;
    margin: 0 auto;
    margin-top: 70px;
    font-size: 30px;
    td {
      padding: 30px 0 30px 0;
    }
    .setting-table-account{
      width: 400px;
      img{
        margin:0 auto; 
      }
    }
  }
}

.content-area-login{
  text-align: center;
  margin: auto;
  width: 800px;
  height: 500px;
  .subTitle{
    margin-top: 50px;
  }
}

.error404 .content-area,
.page .content-area {
  padding-top: 120px;
}
.odd {
  background: #f5f5f5;
  position: relative;
}
.even {
  background: white;
  position: relative;
}
.container {
  max-width: $container-width;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}
.inside-wrapper {
  max-width: $inside-wrapper-width;
  margin: 0 auto;
  padding: 0 50px;
}
.attachment-post-thumbnail {
  margin: 0 auto 35px;
  transition: opacity 0.7s;
  display: block;
  &:hover {
    opacity: 0.7;
  }
}
.entry-title {
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  letter-spacing: 0.2em;
  color: #000;
  text-align: center;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 1.25em;
  a {
    color: #000;
    font-weight: 700;
    text-decoration: none;
  }
  &:after {
    content: "";
    height: 2px;
    width: 50px;
    background: black;
    display: block;
    margin: 20px auto 0;
  }
  &:hover {
    opacity: 0.7;
  }
}
.home .entry-content {
  margin: 1.5em 0;
  p {
    text-align: center;
  }
}
.posted-on {
  text-align: center;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  font-size: 0.688em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.tags-links {
  text-align: center;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  font-size: 0.800em;
  font-style: normal;
  margin-bottom: 30px;
  a {
    margin: 0 5px;
    font-style: italic;
  }
}
.pager {
  padding: 1.5em 0;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  &:hover {
    .meta-arraw {
      opacity: 0.8;
    }
  }
  .previous {
    float: right;
    text-align: right;
    width: 50%;
  }
  .next {
    float: left;
    width: 50%;
  }
  a {
    text-decoration: none;
    color: #3a3a3a;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
    font-size: 0.750em;
  }
}
.meta-arraw {
  width: 10px;
  height: 17px;
  background: url("../images/arrow-left.svg") no-repeat;
  display: inline-block;
  margin-bottom: -4px;
  margin-right: 5px;
  opacity: 0.3;
  transition: opacity 0.5s ease;
}
.meta-arraw-left {
  background: url("../images/arrow-left.svg") no-repeat;
}
.meta-arraw-right {
  background: url("../images/arrow-right.svg") no-repeat;
}
/*--------------------------------------------------------------
Comment
--------------------------------------------------------------*/
#comment {
  margin-top: 70px;
}

/*--------------------------------------------------------------
advice.ejs
--------------------------------------------------------------*/
.advice {
  text-align: center;
  img {
    max-width: 100%;
    height: 300px;
    margin-top: 30px
  
  }
}

.condition{
  margin: 10px 0 10px 0;
  max-width: 800px;
  width: 100%;
  display: inline-block;
  p{
  text-align: left;
  }
}

.adviceImage {
  height: 180px;       /* ※縦横を同値に */
  // width:  320px;       /* ※縦横を同値に */
  // border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  // background-position: center;  /* 横長画像の左上を基準に表示 */
  // display: inline-block;          /* 複数の画像を横に並べたい場合 */
}
/*--------------------------------------------------------------
setting.ejs
--------------------------------------------------------------*/
.setting-table-account{
  text-align: center;
  vertical-align:middle;
}

.logoutButton-loginPage-inside,
.logoutButton,
.adviceButton-inside,
.habitButton-inside,
.goalButton-inside{
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  appearance: none;
}

/*--------------------------------------------------------------
login.ejs
--------------------------------------------------------------*/
.GoogleProfile{
  display: flex;
}

.loginTitle {
  font-size: 84px;
  color: white;
  font-family: 'Gotham SSm A', 'Gotham SSm B', '小塚ゴシック Pr6N', 'Kozuka Gothic Pr6N', sans-serif;
}
/*--------------------------------------------------------------
home.ejs
--------------------------------------------------------------*/
.content-area-home {
  text-align: center;
  position: relative;

  .measureTime{
    top: 80%;
    left: 50%;

  }
}
.content-area-home-2 {
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

.logoutButton {
  width: 150px;
  height: 50px;
  background-color: white;
  // border-radius: 4px 4px 4px 4px;
}

.adviceButton,
.habitButton,
.goalButton {
  width: 200px;
	height: 50px;
  background-color: $color-main4;
	margin:  auto;
  text-align: center;
  display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;	
  margin-bottom: 10px;
  input {
    color: $color-main;
    font-size:20px;
  }
}

.img {
  height: 300px;
}


/*--------------------------------------------------------------
Content
--------------------------------------------------------------*/
.measureBody {
  background-color: $color-main3;
  min-width: 300px;   /*中央配置するボックスの横幅*/
  min-height: 400px;  /*中央配置するボックスの縦幅*/
  margin: 0;
  padding: 0;
  
  div{
    font-size: 40px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', '小塚ゴシック Pr6N', 'Kozuka Gothic Pr6N', sans-serif;
    margin: -200px 0 0 -300px;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 600px;
    height: 400px;
  }
}


//以下site参照
.swiper-slide {
  position: relative;
}
.swiper-slide + .swiper-slide {
  margin-top: 20px;
}
.grad-trigger {
  font-size: 80%;
  /*ボタンのスタイルはご自由にどうぞ*/
}
.grad-item {
  position: relative;
  overflow: hidden;
  padding: 10px 10px 10px 10px;
  height: 100%;
}
.grad-item.is-hide {
  height: 50px; /*隠した後の高さ*/
}
.grad-item p + p {
  margin-top: 1em;
}
.grad-item::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 20px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
}
.grad-trigger.is-show + .grad-item::before {
  display: none;
}

//以下自分で書いた分
.swiper-container {
  width: 100%;
}

.swiper-slide {
  width: 200px;
  height: 200px;
  background-color: $color-main4;
  color: $color-main2;
  margin: 0 auto;
  border-radius: 4px 4px 4px 4px;
  text-align: center;
}