body,
html {
  display: flex;
  flex-direction: column;
  color: white;
}

.homeBody,
.loginBody {
  background-color: $color-main;
}

a,
body,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
html,
iframe,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul {
  border: 0;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serifs;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 10px;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
button,
input,
select,
textarea {
  color: $color-text;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  font-size: 100%;
  line-height: 1.5;
}
h1,
h2 {
  clear: both;
  font-weight: bold;
}
p {
  margin: 1em 0;
  line-height: 1.5;
}


/*--------------------------------------------------------------
 Elements
--------------------------------------------------------------*/
a#more,
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: #d3d3d3 1px solid;
  margin: 40px 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
}
ul {
  list-style: none;
}
ol {
  list-style: decimal;
}
li > ol,
li > ul {
  margin-bottom: 0;
  margin-left: 1.5em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 1.5em 1.5em;
}
img {
  max-width: 100%;
  /* Adhere to container width. */
}
figure {
  margin: 0;
}
table {
  margin: 0 0 ;
  width: 100%;
}
th {
  font-weight: bold;
}
h1, h2, h3, h4 {
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;}
h1 {
  font-size: 1.250em; }

h1:hover {
  opacity: 0.7; }

h2 {
  font-size: 1.2em;}

h3 {
  font-weight: bold;
  font-size: 18px; }

h4 {
  font-size: 0.875em; }

blockquote p {
  margin: 0;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

/*--------------------------------------------------------------
login.ejs
--------------------------------------------------------------*/
//@login
.content-area-login{
  text-align: center;
  margin: auto;
  width: 800px;
  height: 500px;
  .subTitle{
    margin-top: 50px;
  }
}

.GoogleProfile{
  display: flex;
}

.loginTitle {
  font-size: 84px;
  color: white;
  font-family: 'Gotham SSm A', 'Gotham SSm B', '小塚ゴシック Pr6N', 'Kozuka Gothic Pr6N', sans-serif;
}

/*--------------------------------------------------------------
home.ejs
--------------------------------------------------------------*/
//@home-->include waveImg, feature, measureTime, measureButton
.content-area {
  padding-top: $header-height;
  position: relative;
  top: 70px;
  max-width: 500px;
  height: 100%;
  margin: 0 auto;
}

//@home-->include waveImg, feature, measureTime
.content-area-home {
  text-align: center;
}

// #waveImg {
//   border-radius: 50%;
// }

#feature {
  padding: 20px;
  top: 70%;
  right: 0;
  left: 0;
  margin: auto;
  font-size: 120%;
  color: white;
}

.measureTime {
  top: 50.5%;
  right: 51%;
}

.measureTimeTotal {
  margin-top: 10px;
  text-align: center;
  // margin: auto;
  p {
      margin: 2em 0;
  }
}
// #myChart {
//   background-color: white;
//   opacity: 0.5;
// }
/*--------------------------------------------------------------
button
--------------------------------------------------------------*/
.measureButton {
  width: 200px;
	height: 50px;
  background-color: $color-main4;
	margin:  auto;
  display: flex;
	justify-content: center;
  input {
    color: $color-main;
    font-size:20px;
  }
}

//hide Button background
.logoutButton-loginPage-inside,
.logoutButton,
.measureButton-inside {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  appearance: none;
  text-decoration: none;
}

/*--------------------------------------------------------------
@Home-swiper
--------------------------------------------------------------*/
//include question, condition, advice
.swiper-container {
  position: relative;
  bottom: 0p;
  width: 100%;
}

.swiper-slide + .swiper-slide {
  margin-top: 20px;
}

.grad-trigger {
  font-size: 0.8rem;
  /*ボタンのスタイルはご自由にどうぞ*/
}

.grad-item {
  position: relative;
  overflow: hidden;
  padding: 10px 10px 10px 10px;
  height: 100%;
}

.grad-item.is-hide {
  height: 50px; /*隠した後の高さ*/
}

.grad-item p + p {
  margin-top: 1em;
}

.grad-item::before {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 20px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
}

.grad-trigger.is-show + .grad-item::before {
  display: none;
}

.swiper-slide {
  width: 200px;
  height: 200px;
  background-color: $color-main4;
  color: $color-main2;
  margin: 0 auto;
  border-radius: 4px 4px 4px 4px;
  text-align: center;
}

/*--------------------------------------------------------------
measure.ejs
--------------------------------------------------------------*/
.measureBody {
  background-color: $color-main3;
  .content-area-measure{
    height: 100%;
    top: 50%;
    text-align: middle;
    margin: 0 auto;
    font-size: 2.5rem;
  }
}

