.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}

#userInfo {
  position: relative;
  img {
    vertical-align: middle;
    border-radius: 50%; 
    height: 30px;
  }
  padding: 0.75rem;
}

#logoutButton {
  position: absolute;
  top: 40px;
  left: 10px;
  background-color: #fff;
  border-radius: 3px;
  &.isHide {
    display: none;
  }
}

.logoutButton {
  width: 120px;
  height: 50px;
}
