.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  display: flex;
}

#userInfo {
  position: relative;
  img {
    vertical-align:middle;
    border-radius: 50%; 
    height: 50px;
  }
  p {
    margin: 0.5rem;
  }
}

#logoutButton {
  position: absolute;
  top: 40px;
  left: 20px;
  background-color: $color-main4;;
}

.logoutButton {
  width: 120px;
  height: 50px;
}
