.site-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-right: 50px;
  height: 70px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
    float: right;

}

.navbar {
    margin-right: 10px;

  img {
    border-radius: 25px;  
    height: 50px;
    width: 50px;
  }
}
